*{
   background-color:ivory ; 
   color: black;
}


h1{
  color:black ;  
}


#p1{
    text-align: center;
    background-color: pink ;
}


#p2{
    text-align: center ;
}


#p3{
    text-align: center;
}


#p4{
    text-align: center;
}


#p5{
    text-align: center;
}


#p6{
    text-align: center;
}


#p7{
   text-align: center; 
}

.center{
    text-align:center;
}


